<!DOCTYPE html>
<html class="menu">
    <head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="google" value="notranslate"/>
    <title>داشبورد دانش آموز</title>
    <link rel="stylesheet" href="../css/adminHome.css">
    <link rel="stylesheet" href="../css/plugins/spinner.css">
    <link rel="stylesheet" type="text/css" href="../css/adminPage.css">
    <link rel="stylesheet" type="text/css" href="../css/studentHome.css">
    <link rel="stylesheet" type="text/css" href="../css/plugins/all.css">
    {{!-- **********felora TEXTBOX EDITOR**************  --}}
    <link href="../css/plugins/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/plugins/froala_editor.pkgd.min.js"></script>
    <link href="../css/plugins/froala_style.min.css" rel="stylesheet" type="text/css" />
    {{!-- **************END FLORA EDITOR****************** --}}
    <link rel="stylesheet" href="../css/plugins/persian-datepicker.css"/>
    <script src="../js/plugins/jquery.js"></script>
    <script src="../js/plugins/persian-date.js"></script>
    <script src="../js/plugins/persian-datepicker.js"></script>
    <script src="../sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../sweetalert2/dist/sweetalert2.min.css"> 
    </head>
    <body>
        <div id="spinner-front">
            <img src="../img/ajax-loader.gif"/><br>
            لطفا صبر کنید ...
        </div>

        <nav class="main-menu">

        <div>
            <a class="logo" href="#"></a> 
        </div> 
        <div class="settings">
            <img class="profilePic">
        </div>
        <div class="scrollbar" id="style-1">    
        <ul class="menu">
            <li class="dashbord__section active-menu">                                   
                <a href="#">
                <i class="fas fa-id-card-alt fa fa-lg"></i>
                <span class="nav-text">پروفایل</span>
                </a>
            </li>   

            <li class="enroll__section">                                 
                <a href="#">
                <i class="fas fa-user-plus fa fa-lg"></i>
                <span class="nav-text">ثبت نام</span>
                </a>
            </li>   
        
            <li class="payment__section">                                 
                <a href="#">
                <i class="fa fa-lg fas fa-money-check-alt"></i>
                <span class="nav-text">پرداخت شهریه</span>
                </a>
            </li>
            <li class="question__section">                           
                <a href="#">
                <i class="fas fa-pen-alt fa fa-lg"></i>
                <span class="nav-text">نمونه سوالات</span>
                </a>
            </li> 
        </ul>
        
        
        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-lg fas fa-sign-out-alt"></i>
                    <span class="nav-text">
                        خروج 
                    </span> 
                </a>
            </li>  
        </ul>
        </div>
        </nav>
        <div class="content">
            <div class="profile">
                <div class="alert">لطفا اطلاعات خود را تکمیل کنید.</div>
                <form class="information">
                    <label>نام:</label>
                    <input type="text" name="firstName">

                    <label>نام خانوادگی:</label>
                    <input type="text" name="lastName">
                    <br>
                    <label>نام پدر:</label>
                    <input type="text" name="parentName">
                    
                    <label>کد ملی:</label>
                    <input type="text" name="NationalID">
                    <br>
                    <label>سال تولد:</label>
                    <input type="text" name="yearOfBirth">

                    <label>شماره تلفن:</label>
                    <input type="text" name="mobileNumber">
                    
                    <br>
                    <label>کد پستی:</label>
                    <input type="text" name="zipCode">
                
                    <label>آدرس:</label>
                    <input type="text" name="address">
                    
                    <br>
                    <br>
                    <div class="pics">
                        <label>عکس دانش آموز</label>
                        <input type="file" accept=".gif, .jpg, .jfif, .png, .jpeg" name="picture" required>
                        <p id="picId"></p>
                    
                        <label>تصویر شناسنامه</label>
                        <input type="file" accept=".gif, .jpg, .jfif, .png, .jpeg" name="passport" required>
                        <p id="passId"></p>
                        
                        <label>تصویر کارت ملی</label>
                        <input type="file" accept=".gif, .jpg, .jfif, .png, .jpeg" name="nationalIDPic" required>
                        <p id="natiId"></p>
                    </div>
                
                    <div class="docs">
                        <img id="img1">
                        <img id="img2">
                        <img id="img3">
                    </div>
                    <p id="submit"></p>
                    <button class="submit-btn" type="submit">ارسال</button>
                </form>
            <button class="change__password">تغییر رمز عبور</button>
            </div>
            <div class="enroll">
                <p>لطفا پایه تحصیلی خود را انتخاب کنید</p>
                <form class="enroll__form">
                    <label>نام:</label>
                    <input name="name" type="text" readonly required>
                    
                    <label>نام خانوادگی :</label>
                    <input name="family" type="text" readonly required>
                
                    <label> کد ملی :</label>
                    <input name="nationalID" type="text" readonly required>
                    <br>
                    <label> سال تحصیلی :</label>
                    <input name="education__year" type="text" readonly required>
                    
                    <label> مبلغ شهریه :</label>
                    <input name="cost" type="text" readonly required>
                   
                    <label>پایه تحصیلی:</label>
                    <select name="level" >
                        <option value="اول" selected>اول </option>
                        <option value="دوم">دوم</option>
                        <option value="سوم">سوم </option>
                        <option value="چهارم" >چهارم </option>
                        <option value="پنجم">پنجم  </option>
                        <option value="ششم">ششم </option>
                    </select>
                    <input type="text" name="grade" readonly>
                    <br>
                    <button class="submit">ثبت نام نهایی</button>
                    <p></p>
                </form>

            </div>
            <div class="payment">
                <div class="payment__section">
                    <p>لطفا مبلغ پرداختی را به ریال در قسمت مربوطه وارد کنید و تصویر فیش واریزی را آپلود نمایید. تایید پرداخت در ۲۴ ساعت آینده برای شما پیامک خواهد شد</p>
                    <form class="payment__form">
                        <label>نام:</label>
                        <input name="name" type="text" readonly required>
                        <br>
                        <label>نام خانوادگی :</label>
                        <input name="family" type="text" readonly required>
                        <br>
                        <label> کد ملی :</label>
                        <input name="nationalID" type="text" readonly required>
                        <br>
                        <label> سال تحصیلی :</label>
                        <select name="years" >
                            
                        </select>
                        <br>
                        <label> مبلغ پرداختی :</label>
                        <input name="cost" type="number"  required >
                        <br>
                        <label class="cost1"></label>
                        <label class="cost2">ریال</label>
                        <br>
                        <label for="myfile"> تصویر فیش واریزی : </label>
                        <input type="file" value="image" name="image" accept=".gif, .jpg, .jfif, .png, .jpeg" required>
                        <span id="aboutucPicId"></span>
                        <br>
                        <button class="submit">پرداخت</button>
                        <p></p>
                    </form>
                </div>
                <div class="payment__chart">
                    <canvas id="myChart"></canvas>
                    <div class="summary">
                        <label id="paid"></label>
                        <label id="remain"></label>
                    </div>
                    <table id="payments_table">
                        
                        
                    </table>
                </div>
                
            </div>
            <div class="question">
                <div class="courseSelect">
                    <form class="openForm">
                        <label class="label200">انتخاب درس برای نمایش سوال :</label>
                        <select>

                        </select>
                        <p></p>
                    </form>

                </div>
                <div class="questionContainer">
                    <p class="desc">برای نمایش جواب بر روی پاسخ کلیک کنید</p>
                    <form class="freezForm">
                        
                    </form>
                </div>
            </div>
        </div>
    
        <script src="../js/plugins/axios.min.js"></script>
        <script src="../js/plugins/mustache.min.js"></script>
        <script src="../js/plugins/felora.js"></script>
        <script src="../js/plugins/persianDate.js"></script>
        <script src="../js/plugins/spinner.js"></script>
        <script src="../js/studentHome.js"></script>
        <script src="../js/plugins/chart.js"></script>
    

    </body>
</html>